%h3 Moments
%p.english
  Moments is a light blog application sharing the photos and smiles in a votable and commentable way.
%p= link_to 'link to application', 'http://themoments.herokuapp.com/', :target => '_blank'