%h3.note-title-bar WeChat Little Program Water Testing
%i 
  %b WeChat's Mini Programs Dev Tool | JS | WeChat's Programming language
%p
  It has been a while since the ‘Little Program’ on WeChat was put on the stage in the conference. I was in Brisbane when it happens, because of which I didn’t have a chance to test the water with a China bank account and a China mobile number. Up until now, I’m back here in Shanghai, having a good opportunity and spare time to get my hands dirty in this ‘Little Program’, though it is not as popular as it used to be.
%p
  The framework used is easy to get started, I must say. It’s pretty much close to React, using custom components like <view>, <text> etc. However, based on my understanding, the program itself is a web app like product, which is running only in WeChat environment. Additional, WeChat removed most native functionality from ‘Little Program’ to allow higher performance. The limitation of package size is 1MB for each program, which provides faster installation process. As a result of all above, ‘Little Program’ has faster loading speed, which is its concept, on the contrary, nothing complicated can be developed, including games, live streaming.
%p
  Let’s talk about the official IDE for ‘Little Program’. It’s elegant, clear, making perfect sense, but sometimes not quite stable. I came across several bugs when I was working on a small application (on a MacBook). It led me to re-starting the whole IDE around 5 times during the 3-hour development. The software didn’t crash itself but it logged errors which should never occur. After restarting the software, those errors would be gone without any other fixes. I couldn’t find any specific reason for that but it seems a relaunching is all it needs to be fixed.
%p
  It took me a while to make the decision for what should I build using this new and fresh (to me) technology. It came to two outcomes, a Douban Movie searching application based on their own API (https://developers.douban.com/wiki/?title=api_v2), an Idioms Dictionary using an API provided by Juhe Data (https://www.juhe.cn/docs/api/id/157).
%p
  I got myself started via a tutorial and the official document. It’s a React Native Framework without any packages, node (npm) or any other libs. In one word, it’s straight forward.
.content-image
  = image_tag  "../assets/images/douban.gif"
  %p Douban Movie & Little Program IDE
.flex.sm-flex-column.pt4
  .content-image
    = image_tag  "../assets/images/dic.gif"
    %p Idioms Dictionary
  %p.pl6
    Since I didn’t plan to code any back-end server side codes, an API is quite handful here. Thus, a dictionary using a third-party API was considered. 
%p
  After some practice as I talked about above, it's time to plan a more functional application using this framework. 