.container.max-w600px.flex.justify-between
  %h5.light-color
    = link_to 'HOME',
      'index',
      class: 'mr1'
    |
    = link_to 'PROJECTS',
      '#',
      class: 'mr1 ml1'
    |
    = link_to 'GITHUB',
      'https://github.com/ykzhukian',
      class: 'mr1 ml1',
      :target => '_blank'
    |
    = link_to 'INSTAGRAM',
      'https://www.instagram.com/kianykz/',
      class: 'mr1 ml1',
      :target => '_blank'
  %h5.light-color 2016 &copy; Kian Zhu