%form{:action => "https://formspree.io/kianzyk@gmail.com", :method => "POST"}
  %input{:name => "name", :type => "text"}/
  %input{:name => "_replyto", :type => "email"}/
  %input{:type => "submit", :value => "Send"}/