.nav-wrapper.flex.justify-around.sm-flex-row
  .nav-item-wrapper.mb6.sm-mb0.md-mb3#nav-link-intro.sm-mx4{class: ('active' if current_page.data.page == "home")}
    .nav-item
      %a{:href => "/", :class => "nav-link"} 
        = image_tag  "../assets/images/soda_grey.svg", :class => "nav-img"
  .nav-item-wrapper.mb6.sm-mb0.md-mb3#nav-link-code.sm-mx4{class: ('active' if current_page.data.page == "code")}
    .nav-item
      %a{:href => "/code", :class => "nav-link"} 
        = image_tag  "../assets/images/keyboard_grey.svg", :class => "nav-img"
  .nav-item-wrapper.mb6.sm-mb0.md-mb3#nav-link-pin.sm-mx4{class: ('active' if current_page.data.page == "pin")}
    .nav-item
      %a{:href => "#", :class => "nav-link"} 
        = image_tag  "../assets/images/pin_grey.svg", :class => "nav-img"
  .nav-item-wrapper#nav-link-mail.sm-mx4{class: ('active' if current_page.data.page == "message")}
    .nav-item
      %a{:href => "/message", :class => "nav-link"} 
        = image_tag  "../assets/images/mail_grey.svg", :class => "nav-img"