/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html,
body {
  padding: 0;
  color: $main-color;
  background-color: $bg-color;
}

html {
  margin: 0;
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: $light-color; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $light-color; /* WebKit/Blink Browsers */
  color: #fff;
}

form {
  input, textarea {
    -webkit-appearance:none;
  }
}

.hide {
  display: none;
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: 1.8rem;
  font-family: $font-proximanova-light;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  // Better text rendering
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: $font-ahkio;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
}

p {
  margin-bottom: 1em;
}

.relative {
  position: relative;
}

.light-color {
  color: $light-color;
}

.black-color {
  color: black;
}