.sider-container {
  transition-duration: 0.3s;
  &.active {
    position: relative;
    @media screen and (min-width: 768px) {
      .nav-wrapper {
        position: fixed;
        max-width: 325px;
        transform: none;
        left: auto;
        right: 10px;
        padding: 0;
        top: -7px;

        .nav-item-wrapper { 
          height: 55px;

          &.active, &:hover {
            &:after {
              width: 7px;
            }
            .nav-item { 
              animation: none;
              transform: translate(0, 16px) rotate(20deg);
            }
          }
          &:after {
            width: 30px;
            height: 2px;
          }

          .nav-item { 
            animation: smalliconfall 2s;
            transform: translate(0, 30px) rotate(20deg);
            .nav-link {
              .nav-img {
                width: 30px;
              }
            }
          }
        }
      }
    }
  } 
}

@keyframes iconfall {
  0% {transform: translate(0, 16px) rotate(20deg);}
  20% {transform: translate(0, 16px) rotate(20deg);}
  100% {transform: translate(0, 40px) rotate(20deg);}
}

@keyframes smalliconfall {
  0% {transform: translate(0, 16px) rotate(20deg);}
  20% {transform: translate(0, 16px) rotate(20deg);}
  100% {transform: translate(0, 30px) rotate(20deg);}
}

.nav-wrapper {
  transition-duration: 0.3s;
  .nav-item-wrapper {
    width: 60px;
    height: 70px;
    overflow: hidden;
    position: relative;

    &:after {
      width: 60px;
      height: 2px;
      border-radius: 5px;
      content: '';
      position: absolute;
      bottom: 0;
      background-color: #eee;
      left: 50%;
      transform: translateX(-50%);
      transition-duration: 0.3s;
      @media screen and (max-width: 1024px) {
        width: 40px;
      } 
    }

    &.active, &:hover {
      
      &:after {
        width: 10px;
        background-color: #666;
        @media screen and (max-width: 1024px) {
          width: 7px;
        } 
      }

      .nav-item { 
        animation: none;
        transform: translate(0, 16px) rotate(20deg);
        @media screen and (max-width: 1024px) {
          transform: translate(0, 30px) rotate(20deg);
        } 
      }
    }

    @media screen and (max-width: 768px) {
      height: 50px;
      .nav-item { 
        transform: translate(0, 25px) rotate(20deg);
      }
      &.active, &:hover {
        .nav-item { 
          animation: none;
          transform: translate(0, 10px) rotate(20deg);
        }
      }
    }
  }

  .nav-item {
    transition-duration: 0.3s;
    transform: translate(0, 40px) rotate(20deg);
    animation: iconfall 1s;
    @media screen and (max-width: 1024px) {
      transform: translate(0, 45px) rotate(20deg);
      animation: none;
    } 
  }

  .nav-link {
    .nav-img {
      width: 40px;
      position: absolute;
      left: 50%;
      transform: translateX(-34%);

      @media screen and (max-width: 1024px) {
        width: 30px;
      }
    }
    svg {
      fill: currentColor;
      vertical-align: bottom;
    }
  }

}

@keyframes navmove {
  0%   {
    transform: translate(0, 30px) rotate(20deg); /* CSS3 */
  }
  10%  {
    transform: translate(0, 0) rotate(20deg); /* CSS3 */
  }
  100% {
    transform: translate(0, 0) rotate(20deg); /* CSS3 */
  }
}
