---
title: Kian Zhu | CODES
page: code
---
.container.relative
  .note-archive-wrapper
    .note-wrapper= partial 'notes/wechat'
    .note-wrapper= partial 'notes/balance'
    .note-wrapper= partial 'notes/moments'
    