---
title: Kian Zhu | CODES
page: code
---

.container.relative
  / #language.chinese
  /   %a.english_btn En 
  /   %span / 
  /   %a.chinese_btn 简
  .note-archive-wrapper
    = partial 'notes/wechat'
    = partial 'notes/balance'
    = partial 'notes/moments'
  