---
title: Kian Zhu | CODES
page: code
---

.container.relative
  .note-archive-wrapper
    %h2.note-title-bar Some notes and inspirations
    .note-card-wrapper
      .note-card.px4
        .note-card__shadow-top
        %h3.note-card__title WeChat Little Program Water Testing
        .note-card__sub 
          %i 
            %b WeChat's Mini Programs Dev Tool | JS | WeChat's Programming language
        .note-card__content