---
title: Kian Zhu | HOME
---

.container.max-w600px
  %p.font-large.ahkio Hello,
  %p
    My name is 
    %span.font-larger.ahkio.ml2 Kian Zhu
    %span .
  %p
    I am a recent QUT graduate majoring in Computer Science and having a particular interest in web and software development.
    <br /><br />
    Knowing that 
    %span.black-color.junction JavaScript
    , especially with 
    %span.black-color.junction React.js 
    and 
    %span.black-color.junction Node.js
    , is becoming more demanded by the market, I have been doing self-learning by following webcasts and tutorials. 
    <br /><br />
    At the same time, I have also been building web applications through 
    %span.black-color.junction Ruby on Rails 
    to expand my knowledge base further from a back-end perspective.
    <br /><br />
    Also, to become job-ready, I have made myself be familiar with web application development cycle, including version control (
    %span.black-color.junction github
    , source tree and bitbucket), code review (pull request review in github), deployment (
    %span.black-color.junction heroku
    ), automated testing (
    %span.black-color.junction Travis
    ) and basic 
    %span.black-color.junction command line 
    skills.

  
  / .line
  / %h3 Balance
  / %h4 A web application help you review all the expenditure and income
  / %h6 Ruby on Rails
  / .line
  / %h3 Help Desk
  / %h4 
  /   A web application for, clients to apply the utilities service online, volunteers to conduct the requests online. 
  /   Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada.

  /   Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.

  /   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta. Nulla quis lorem ut libero malesuada feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  / %h6 HTML / CSS / PHP
