---
title: Kian Zhu
page: home
---

.container.junction
  %p.font-large Kian Zhu,
  %p.font-base Web Developer
  %p 
    is expanding his knowledge base further,
    by digging into any popular programming languages, including
  %p 
    %span.highlightor Node.js (Koa & Express)
    %span.highlightor Ruby on Rails 
    %span.highlightor PHP 
    %span.highlightor SQL 
    for back-end, 
  %p 
    %span.highlightor HTML
    %span.highlightor CSS/SASS
    %span.highlightor Javascript/jQuery
    %span.highlightor React
    %span.highlightor AntDesign
    for front-end, 
  %p 
    tools including
    %span.highlightor.ml2 Sublime Text
    %span.highlightor Travis
    %span.highlightor iTerm
    %span.highlightor Git
  %p 
    to find his way out of being a beginner.