---
title: Kian Zhu | Message
page: message
---
.container
  %h2.mb0
    Send Me A Message
  %form{:action => "https://formspree.io/kianzyk@gmail.com", :method => "POST", :class => "message-form junction"}
    %input{:name => "name", :type => "text", :placeholder => "Your name please", :required => ""}
    %input{:name => "_replyto", :type => "email", :placeholder => "Your email please", :required => ""}
    %textarea{:name => "message"}
    %input{:type => "submit", :value => "Send"}
    %input{:name => "_next", :type => "hidden", :value => "/thanks"}