---
title: Kian Zhu | NOTES
page: notes
---

.container.relative.pb8
  .note-archive-wrapper
    %h2.note-title-bar Some notes and inspirations
    %a{:href => "/notes/wechat", :class => "note-card__link"} 
      .note-card-wrapper.px4
        .note-card.px4.pb2
          .note-card__shadow-top
          %h3.note-card__title WeChat Little Program Water Testing
          .note-card__sub 
            %i 
              %b WeChat's Mini Programs Dev Tool | JS | WeChat's Programming language
          .note-card__content
            %p 
              It has been a while since the ‘Little Program’ on WeChat was put on the stage in the conference. I was in Brisbane when it happens, because of which I didn’t have a chance to test the water with a China bank account and a China mobile number. Up until now, I’m back here in Shanghai, having a good opportunity and spare time to get my hands dirty in this ‘Little Program’, though it is not as popular as it used to be.