---
title: Kian Zhu | HOME
page: home
---

.container
  %p.font-large.ahkio Hello,
  %p
    My name is 
    %span.font-larger.ahkio.ml2 Kian Zhu
    %span .
  %p
    I am a recent QUT graduate majoring in Computer Science and having a particular interest in web and software development.
  %p
    Knowing that 
    %span.black-color.junction JavaScript
    , especially with 
    %span.black-color.junction React.js 
    and 
    %span.black-color.junction Node.js
    , is becoming more demanded by the market, I have been doing self-learning by following webcasts and tutorials. 
  %p
    At the same time, I have also been building web applications through 
    %span.black-color.junction Ruby on Rails 
    to expand my knowledge base further from a back-end perspective.
  %p
    Also, to become job-ready, I have made myself be familiar with web application development cycle, including version control (
    %span.black-color.junction github
    , source tree and bitbucket), code review (pull request review in github), deployment (
    %span.black-color.junction heroku
    ), automated testing (
    %span.black-color.junction Travis
    ) and basic 
    %span.black-color.junction command line 
    skills.

