---
title: Kian Zhu | PROJECTS
---

.container.max-w600px
  %p.font-large Balance
  %p= link_to 'link to application', 'http://balancebook.herokuapp.com/users/sign_in', :target => '_blank'
  %p.font-large Moments
  %p= link_to 'link to application', 'http://themoments.herokuapp.com/', :target => '_blank'