---
title: Kian Zhu | PROJECTS
---

.container.max-w600px
  %p.font-large 
    Balance
    %span.font-base | Ruby on Rails
  %p
    Balance is an application taking care of everyday expenditure and income.
  %p= link_to 'link to application', 'http://balancebook.herokuapp.com/users/sign_in', :target => '_blank'
  %p.font-large 
    Moments
    %span.font-base | Ruby on Rails
  %p
    Moments is a light blog application sharing the photos and smiles in a votable and commentable way.
  %p= link_to 'link to application', 'http://themoments.herokuapp.com/', :target => '_blank'